body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }    
  
   
  header {
    padding: 20px;
   
    margin: 0px;
  }





.class {
    background-color: blue;
    border-radius: 5px;
    font-size: large;
}

#container{

    flex-wrap: wrap;
    float: center;
}